accesslog-file=/dev/stdout

include=/etc/nghttpx/nghttpx-backend.conf

frontend=*,80;no-tls

# API endpoints
frontend=127.0.0.1,3001;api;no-tls

{{ if .cfg.TLS }}
frontend=*,443

{{ $defaultCred := .cfg.DefaultTLSCred }}
# checksum is required to detect changes in the generated configuration and force a reload
# checksum: {{ $defaultCred.Key.Checksum }} {{ $defaultCred.Cert.Checksum }}
private-key-file={{ $defaultCred.Key.Path }}
certificate-file={{ $defaultCred.Cert.Path }}

{{ range $cred := .cfg.SubTLSCred }}
# checksum: {{ $cred.Key.Checksum }} {{ $cred.Cert.Checksum }}
subcert={{ $cred.Key.Path }}:{{ $cred.Cert.Path }}
{{ end }}

{{ else }}
# just listen 443 to gain port 443, so that we can always bind that address.
frontend=*,443;no-tls
{{ end }}

# for health check
frontend=127.0.0.1,8080;healthmon;no-tls

# default configuration by controller
workers={{ .cfg.Workers }}

# from ConfigMap

{{ .cfg.ExtraConfig }}
