{{ range $upstream := .Upstreams -}}
# {{ $upstream.Name }}
{{ range $backend := $upstream.Backends -}}
backend={{ $backend.Address }},{{ $backend.Port }};{{ $upstream.Host }}{{ $upstream.Path }};proto={{ $backend.Protocol -}}
{{ if $backend.TLS }};tls{{ end -}}
{{ if $backend.SNI }};sni={{ $backend.SNI }}{{ end -}}
{{ if $backend.DNS }};dns{{ end -}}
{{ if $backend.Weight }};group={{ $backend.Group }};group-weight={{ $backend.Weight }}{{ end -}}
;affinity={{ $upstream.Affinity -}}
{{ if eq $upstream.Affinity "cookie" -}}
  {{ if $upstream.AffinityCookieName }};affinity-cookie-name={{ $upstream.AffinityCookieName }}{{ end -}}
  {{ if $upstream.AffinityCookiePath }};affinity-cookie-path={{ $upstream.AffinityCookiePath }}{{ end -}}
  ;affinity-cookie-secure={{ $upstream.AffinityCookieSecure -}}
  ;affinity-cookie-stickiness={{ $upstream.AffinityCookieStickiness -}}
{{ end -}}
{{ if $upstream.RedirectIfNotTLS }};redirect-if-not-tls{{ end -}}
{{ if $upstream.Mruby }};mruby={{ $upstream.Mruby.Path }}{{ end -}}
{{ if $upstream.ReadTimeout }};read-timeout={{ duration $upstream.ReadTimeout.Duration }}{{ end -}}
{{ if $upstream.WriteTimeout }};write-timeout={{ duration $upstream.WriteTimeout.Duration }}{{ end -}}
{{if $upstream.DoNotForward }};dnf{{ end }}
{{ end -}}
{{ end -}}
{{ if .HealthzMruby -}}
# healthz
backend=127.0.0.1,9999;/nghttpx-healthz;mruby={{ .HealthzMruby.Path }};dnf
{{ end -}}
