accesslog-file=/dev/stdout
include={{ .ConfDir }}/nghttpx-backend.conf
{{ if .HTTPPort -}}
# HTTP port
frontend=*,{{ .HTTPPort }};no-tls{{ if .ProxyProto }};proxyproto{{ end }}
{{ end -}}
# API endpoint
frontend=127.0.0.1,{{ .APIPort }};api;no-tls
{{ if and .HTTPSPort .TLS -}}
# HTTPS port
frontend=*,{{ .HTTPSPort }}{{ if .ProxyProto }};proxyproto{{ end }}
{{ if .HTTP3 -}}
# HTTP/3
frontend=*,{{ .HTTPSPort }};quic
# checksum: {{ encodeHex .QUICSecretFile.Checksum }}
frontend-quic-secret-file={{ .QUICSecretFile.Path }}
altsvc=h3,{{ .HTTPSPort }},,,ma=3600
altsvc=h3-29,{{ .HTTPSPort }},,,ma=3600
http2-altsvc=h3,{{ .HTTPSPort }},,,ma=3600
http2-altsvc=h3-29,{{ .HTTPSPort }},,,ma=3600
{{ end -}}
# Default TLS credential
private-key-file={{ .DefaultTLSCred.Key.Path }}
certificate-file={{ .DefaultTLSCred.Cert.Path }}
{{ range $cred := .SubTLSCred -}}
subcert={{ $cred.Key.Path }}:{{ $cred.Cert.Path }}
{{ end -}}
{{ else if .HTTPSPort -}}
# just listen {{ .HTTPSPort }} to gain port {{ .HTTPSPort }}, so that we can always bind that address.
frontend=*,{{ .HTTPSPort }};no-tls{{ if .ProxyProto }};proxyproto{{ end }}
{{ end -}}
# for health check
frontend=127.0.0.1,{{ .HealthPort }};healthmon;no-tls
# default configuration by controller
workers={{ .Workers }}
worker-process-grace-shutdown-period={{ duration .WorkerProcessGraceShutdownPeriod }}
max-worker-processes={{ .MaxWorkerProcesses }}
{{ if .ExtraConfig -}}
# ExtraConfig
{{ .ExtraConfig }}
{{ end -}}
{{ if .MrubyFile -}}
# mruby file
# checksum: {{ encodeHex .MrubyFile.Checksum }}
mruby-file={{ .MrubyFile.Path }}
{{ end -}}
# OCSP
{{ if .FetchOCSPRespFromSecret -}}
fetch-ocsp-response-file=/cat-ocsp-resp
{{ else -}}
fetch-ocsp-response-file=/fetch-ocsp-response
{{ end -}}
